In [3]:
import pandas as pd
print(pd.__version__)

2.0.3

In [5]:
new_s = pd.Series([12, 13 , 14, 15], index=['a', 'b', 'c', 'd'])
new_s

a    12
b    13
c    14
d    15
dtype: int64

In [17]:
drinks = ["Cold Coffee", "Hot Coffee", "Milk Tea", "Iced Tea"]
degree = [12, 77, 80, 5]
price = [ 200, 130, 333, 234]
data_frame = pd.DataFrame({"drinks": drinks,"degree" : degree,"price" : price},
                        columns= ["drinks", "degree", "price"],
                        index = range(1,5) )
data_frame

        drinks  degree  price
1  Cold Coffee      12    200
2   Hot Coffee      77    130
3     Milk Tea      80    333
4     Iced Tea       5    234